### Analyzing London crime statistics

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("London crime data") \
    .getOrCreate()

#### Reading external data as a dataframe

In [2]:
data = spark.read\
            .format("csv")\
            .option("header", "true")\
            .load("../datasets/london_crime_by_lsoa.csv")

In [3]:
data.printSchema()

root
 |-- lsoa_code: string (nullable = true)
 |-- borough: string (nullable = true)
 |-- major_category: string (nullable = true)
 |-- minor_category: string (nullable = true)
 |-- value: string (nullable = true)
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)

In [4]:
data.count()

13490604

In [5]:
data.limit(5).show()

+---------+----------+--------------------+--------------------+-----+----+-----+
|lsoa_code|   borough|      major_category|      minor_category|value|year|month|
+---------+----------+--------------------+--------------------+-----+----+-----+
|E01001116|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
|E01001646| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|E01000677|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
|E01003774| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|E01004563|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+---------+----------+--------------------+--------------------+-----+----+-----+

In [6]:
data.dropna()

DataFrame[lsoa_code: string, borough: string, major_category: string, minor_category: string, value: string, year: string, month: string]

In [7]:
data = data.drop("lsoa_code")

data.show(5)

+----------+--------------------+--------------------+-----+----+-----+
|   borough|      major_category|      minor_category|value|year|month|
+----------+--------------------+--------------------+-----+----+-----+
|   Croydon|            Burglary|Burglary in Other...|    0|2016|   11|
| Greenwich|Violence Against ...|      Other violence|    0|2016|   11|
|   Bromley|Violence Against ...|      Other violence|    0|2015|    5|
| Redbridge|            Burglary|Burglary in Other...|    0|2016|    3|
|Wandsworth|             Robbery|   Personal Property|    0|2008|    6|
+----------+--------------------+--------------------+-----+----+-----+
only showing top 5 rows

#### Boroughs included in the report

In [8]:
total_boroughs = data.select('borough')\
                     .distinct()\
        
total_boroughs.show()

+--------------------+
|             borough|
+--------------------+
|             Croydon|
|          Wandsworth|
|              Bexley|
|             Lambeth|
|Barking and Dagenham|
|              Camden|
|           Greenwich|
|              Newham|
|       Tower Hamlets|
|            Hounslow|
|              Barnet|
|              Harrow|
|Kensington and Ch...|
|           Islington|
|               Brent|
|            Haringey|
|             Bromley|
|              Merton|
|         Westminster|
|             Hackney|
+--------------------+
only showing top 20 rows

In [9]:
total_boroughs.count()

33

In [12]:
data_2014_onwards = data.filter(data['year'] >= 2014 )

data_2014_onwards.sample(fraction=0.1).show()

+--------------------+--------------------+--------------------+-----+----+-----+
|             borough|      major_category|      minor_category|value|year|month|
+--------------------+--------------------+--------------------+-----+----+-----+
|            Hounslow|     Criminal Damage|Criminal Damage T...|    0|2015|    2|
|             Croydon|  Theft and Handling|         Other Theft|    1|2014|    5|
|Hammersmith and F...|             Robbery|   Business Property|    0|2014|    9|
|              Ealing|             Robbery|   Personal Property|    0|2014|    9|
|             Enfield|Violence Against ...|      Other violence|    1|2014|    9|
|Kensington and Ch...|  Theft and Handling|         Other Theft|    2|2016|    9|
|              Ealing|  Theft and Handling|Theft/Taking Of M...|    0|2016|    1|
|             Lambeth|     Sexual Offences|                Rape|    0|2014|    3|
|              Ealing|Violence Against ...|        Wounding/GBH|    0|2015|   12|
|      Waltham Forest|Violence Against ...|      Common Assault|    0|2016|    6|
|            Haringey|  Theft and Handling|Handling Stolen G...|    0|2015|   12|
|             Enfield|               Drugs|         Other Drugs|    0|2014|    6|
|       Tower Hamlets|Violence Against ...|          Harassment|    1|2016|   10|
|          Hillingdon|Violence Against ...|        Wounding/GBH|    1|2015|    6|
|            Lewisham|Violence Against ...|          Harassment|    2|2015|    3|
|             Lambeth|  Theft and Handling|  Other Theft Person|   10|2015|    4|
|              Barnet|            Burglary|Burglary in a Dwe...|    1|2015|    8|
|           Southwark|Other Notifiable ...|    Other Notifiable|    0|2014|    6|
|          Wandsworth|  Theft and Handling|Theft/Taking Of M...|    0|2015|    9|
|             Croydon|Violence Against ...|        Wounding/GBH|    0|2016|   10|
+--------------------+--------------------+--------------------+-----+----+-----+
only showing top 20 rows

#### Total crime per borough

In [13]:
borough_crime_count = data.groupBy('borough')\
                          .count()
    
borough_crime_count.show(5)

+--------------------+------+
|             borough| count|
+--------------------+------+
|             Croydon|602100|
|          Wandsworth|498636|
|              Bexley|385668|
|             Lambeth|519048|
|Barking and Dagenham|311040|
+--------------------+------+
only showing top 5 rows

#### Total convictions per borough

In [14]:
borough_conviction_sum = data.groupBy('borough')\
                             .agg({"value":"sum"})

borough_conviction_sum.show(5)

+--------------------+----------+
|             borough|sum(value)|
+--------------------+----------+
|             Croydon|  260294.0|
|          Wandsworth|  204741.0|
|              Bexley|  114136.0|
|             Lambeth|  292178.0|
|Barking and Dagenham|  149447.0|
+--------------------+----------+
only showing top 5 rows

In [15]:
borough_conviction_sum = data.groupBy('borough')\
                             .agg({"value":"sum"})\
                             .withColumnRenamed("sum(value)","convictions")

borough_conviction_sum.show(5)

+--------------------+-----------+
|             borough|convictions|
+--------------------+-----------+
|             Croydon|   260294.0|
|          Wandsworth|   204741.0|
|              Bexley|   114136.0|
|             Lambeth|   292178.0|
|Barking and Dagenham|   149447.0|
+--------------------+-----------+
only showing top 5 rows

In [16]:
total_borough_convictions = borough_conviction_sum.agg({"convictions":"sum"})

total_borough_convictions.show()

+----------------+
|sum(convictions)|
+----------------+
|       6447758.0|
+----------------+

Extracting total convictions into a variable

In [17]:
total_convictions = total_borough_convictions.collect()[0][0]

A new column which contains the % convictions for each borough

In [18]:
import pyspark.sql.functions as func

In [19]:
borough_percentage_contribution = borough_conviction_sum.withColumn(
    "% contribution",
    func.round(borough_conviction_sum.convictions / total_convictions * 100, 2))

borough_percentage_contribution.printSchema()

root
 |-- borough: string (nullable = true)
 |-- convictions: double (nullable = true)
 |-- % contribution: double (nullable = true)

In [20]:
borough_percentage_contribution.orderBy(borough_percentage_contribution[2].desc())\
                               .show(10)

+-------------+-----------+--------------+
|      borough|convictions|% contribution|
+-------------+-----------+--------------+
|  Westminster|   455028.0|          7.06|
|      Lambeth|   292178.0|          4.53|
|    Southwark|   278809.0|          4.32|
|       Camden|   275147.0|          4.27|
|       Newham|   262024.0|          4.06|
|      Croydon|   260294.0|          4.04|
|       Ealing|   251562.0|           3.9|
|    Islington|   230286.0|          3.57|
|Tower Hamlets|   228613.0|          3.55|
|        Brent|   227551.0|          3.53|
+-------------+-----------+--------------+
only showing top 10 rows